{% extends 'base.html.twig' %}
{% block title %}Modification de l'annonce: {{ ad.title }}{% endblock %}

{% form_theme myForm 'ad/_collection.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Modification de l'annonce: <strong>{{ ad.title }}</strong></h1>
        {{ form_start(myForm) }}
            {{form_widget(myForm)}}
            <button type="submit" class="btn btn-warning mt-3">Modifier</button>
        {{ form_end(myForm) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('annonce') }}
{% endblock %}