{% extends "base.html.twig" %}
{% block title %}Annonces: Création{% endblock %}

{% form_theme myForm _self %}

{% block body %}
<div class="container">
    <h1>Création d'une annonce</h1>
    {{ form_start(myForm) }}

        {{ form_widget(myForm) }}

        {# <div>
            {{form_row(myForm.title)}}
        </div>
        <div>
            {{form_row(myForm.introduction)}}
        </div> #}


        <button type="submit" class="btn btn-primary mt-3">Création d'une annonce</button>


    {{ form_end(myForm) }}


</div>

{% endblock %}

{% block form_row %}

    {# {{dump()}} #}
    <div class="form-group my-3">
        <div class="row">
            <div class="col-6">
                {{ form_label(form) }}
            </div>
            <div class="col-6">
                {# {{form_widget(form, {'attr':{'class':'form-control'} })}} #}
                {{form_widget(form)}}
            </div>
        </div>
    </div>


{% endblock %}


{% block text_widget %}
    {{dump()}}
    <input type="text" name="{{full_name}}" id="{{id}}" class="form-control" placeholder="{{attr.placeholder}}">
{% endblock %}